body{
    background-color: white;
    margin: 15px;
}
.link-button{
    text-decoration: none;
    background-color: olivedrab;
    
}
.button-style{
    text-decoration: none;
    background-color: rgb(42, 165, 95);
    padding: 10px 20px;
    font-weight: 700;
}
.button-style:hover{
    color: red;
    font-size: large;
}
.top-benner{
    background-image: url(Slide1.jpg);
    background-repeat: no-repeat;
}
.modifier{
    width: 40%;
    float: left;
    
}
.modifier image{
    width: 100%;
}
section{
    height: 500px;
}
.font-style{
    color: gold;
}